@tailwind base;
@tailwind components;
@tailwind utilities;

/* Trying Unna Regular */
@font-face {
  font-family: "Unna";
  src: url("/fonts/Unna-Regular.ttf") format("truetype");
  /* src: url("https://media.urbit.org/fonts/UrbitSans/UrbitSansVFWeb-Regular.woff2")
       format("woff2"); */
  font-weight: 100 700;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  /* src: url("https://media.urbit.org/fonts/UrbitSans/UrbitSansVFWeb-Regular.woff2")
       format("woff2"); */
  font-weight: 100 700;
  font-style: normal;
}

:root {
  /* colors */
  --background: #FFFFFF;
  --foreground: #3C3E41;

  --secondary: #FFFFFF;
  --primary: #3C3E41;
  --accent: #EDECED;

  --header-height: 4.5rem;
  --footer-height: 170px;
  /* container */
  --site-max-width: 3220px;
  --gutter-size: 20px;

  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-springy: cubic-bezier(0.8, 1.77, 0.49, 0.74);
  --ease-springy-alt: cubic-bezier(0.8, 1.3, 0.49, 0.74);
}

@media (prefers-color-scheme: dark) {
  :root {
  --foreground: #EDECED;
  --background: #3C3E41;

  --primary: #EDECED;
  --secondary: #3C3E41;
  --accent: #CBCBCA;
  }
}

html,
body {
  font-family: "Unna";
  /* scrollbar-gutter: stable; */
  @apply md:text-[16px] text-[14px] overflow-y-auto overflow-x-hidden md:[--gutter-size:2rem];
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  @apply text-[20px] leading-120 !tracking-[.01em];
}

/* .template_get-on-the-network .overview-section {
  @apply mb-[8.125rem]
} */
@layer components {
  .container {
    @apply max-w-[--site-max-width]
    /* max-w-[100%] */

    px-6 md:px-8 xl:px-12 2xl:px-16;
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .text-size-homepage {
    @apply text-xlarge xl:text-3xlarge 2xl:text-4xlarge;
  }

  /* .overview-page { */
  .overview-page {
    @apply container mb-[8rem] md:mb-[13.4rem] mt-9;
  }

  .overview-section {
    @apply grid grid grid-cols-1 md:grid-cols-6 gap-4 mb-[2rem] md:mb-[7rem];
  }

  .overview-section:last-of-type {
    @apply mb-0;
  }

  .overview-section-title {
    @apply col-span-1 md:col-span-1 md:text-large font-[600] md:mb-0 mb-8;
  }

  .overview-section-body {
    @apply col-span-1 md:col-span-4 text-xlarge leading-120;
  }

  .overview-section-body p:last-of-type {
    @apply !mb-0 !pb-0;
  }

  .overview-section-body>.img-container {
    @apply rounded-[.5rem] overflow-hidden my-8 max-w-max w-full;
  }

  .overview-section-body>.img-container>img {
    @apply w-full;
  }

  .overview-section-body>a {
    @apply underline decoration-[.01em] underline-offset-[.1em];
  }

  .overview-section-body>.next-button {
    @apply no-underline;
  }

  /* } */
  .button {
    @apply my-[2.5rem] md:hover:bg-gray-87 text-xlarge font-[600] bg-white text-black rounded-[5px] leading-[1cap] p-[.5rem];
  }

  .action-button {
    @apply bg-gray-87 hover:bg-gray-d9 w-max text-black font-[600] px-[.375rem] py-2 leading-[1cap] rounded-lg;
  }

  .action-button:hover {
    color: black !important;
  }

  .apply-button {
    @apply bg-background text-foreground leading-[1cap] text-xlarge font-[600] rounded-[5px] px-[.5rem] py-[.2rem] hover:bg-gray-5a md:hover:text-foreground;
  }

  .next-button {
    @apply hover:bg-foreground md:hover:text-black my-[2.5rem] leading-[1cap] text-xlarge font-[600] bg-gray-87 text-black rounded-[5px] px-[.5rem] py-[.3rem];
  }

  .card {
    @apply hover:brightness-[.9];
  }

  a,
  .link {
    @apply md:hover:text-foreground;
  }

  .hr {
    @apply border-b-[1px] mb-4 border-gray-87;
  }

  article {
    @apply text-xlarge leading-120;

    h1[level="1"] {
      @apply text-4xlarge font-[400] mb-8 md:mb-16 lg:mb-20 leading-[100%] my-[2.5rem];
    }

    h1[level="2"] {
      @apply text-xlarge font-[700] mb-[2.6rem];
    }

    h1[level="3"] {
      @apply text-large font-[700] mb-[1.6rem];
    }

    pre {
      @apply bg-gray-87 !text-large;
    }

    p:has(+ h1[level="2"]) {
      @apply !mb-[2.6rem];
    }

    :has(+ h1[level="1"]) {
      @apply !mb-[3.2rem];
    }

    blockquote {
      @apply p-2 pl-4 italic my-4 border-s-4 border-black;
    }

    img {
      @apply bg-gray-f5;
    }

    p {
      @apply mb-6;
    }

    a {
      @apply underline decoration-[.01em] underline-offset-[.1em] hover:text-gray-87;
      /* @apply no-underline text-gray-87; */
    }

    a.external {
      @apply text-gray-87 no-underline hover:text-gray-f5;
    }

    a.external:after {
      @apply content-['↗']
    }

    ul {
      @apply relative;
    }

    ul li {
      @apply list-outside mb-1 list-none before:content-['—'] before:absolute before:left-[-1.2rem];
    }

    ul li ul {
      @apply relative ml-4;
    }

    ol {
      @apply relative mb-6;
    }

    ol li {
      @apply list-decimal list-inside mb-1;
    }

    code,
    pre {
      @apply text-xlarge rounded-5px px-1 mb-8;
      font-family: "Unna";
      font-variation-settings: "xtab" 500;
    }

    pre {
      @apply p-4 tracking-[0.01em];
    }
  }

  .grant-section {
    h1[level="1"] {
      @apply !text-3xlarge font-[600] mt-8 mb-12;
    }
  }
}
